@{
    ViewData["Title"] = "HAKKIMIZDA";
}
<h1>@ViewData["Title"]</h1>

<p>TUNÇ ELEKTRONİK HAKKINDA TÜM HER ŞEY....</p>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/about2.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper"></span>
                            <span class="section-heading"></span>
                        </h2>
                        <p>Elektronik Satış mağazamız 1998 yılında Tunç ailesi tarafından kuruldu. Günümüze kadar Bilgisayar, Televizyon, Cep Telefonu satışlarımız devam etmektedir. Mağaza Lokasyonumuz ve iletişim bilgileri İletişim sekmesinde mevcuttur.</p>
                        <p class="mb-0">Hasarlı bulduğunuz ve sorunu olduğunu düşündüğünüz her ürün bize aittir değişimleri koşulsuz olarak yapılır....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">BİZE ULAŞIN..</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>7/24 Canlı Destek.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Sakarya,Turkey</p>
            <p><span class="glyphicon glyphicon-phone"></span> +5308887799</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="AD-Soyad" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Yorum" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Gönder</button>
                </div>
            </div>
        </div>
    </div>
</div>

